* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    background-color: peachpuff;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

header figure {
    max-width: 60px;
}

.header-logo img {
    width: 5rem;
    height: 5rem;
    display: block;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
}

ul{
    list-style: none;
    display: flex;
    text-align: right;
    display: inline-block;
}

li {
    display: inline-block;
}

a {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}